header {
  /* CSS Properties */
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;

  /* Flexbox Properties */
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 10;
  border-bottom: 1px solid black;
}

header .logo-container {
  /* CSS Properties */
  color: MediumAquamarine;

  /* Flexbox Properties */
  display: flex;
  width: 250px;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

header .logo-item {
  margin: 0px 10px;
  white-space: nowrap; /* Prevent word wrap when browser is resized (made smaller). */
}

nav {
  /* CSS Properties */

  /* Flexbox Properties */
  display: flex;
  width: inherit;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
}

nav a {
  /* CSS Properties */
  color: black;
  /* font-weight: bold; */

  /* Flexbox Properties */
  margin: 0px 10px;
}

main {
  /* CSS Properties */

  /* Flexbox Properties */
  display: flex;
  position: relative;
  top: 80px;
  width: 100%;
  border: 1px solid lightblue;
}

.column-large {
  width: 630px;
  border: 1px solid red;
}

.column-medium {
  width: 300px;
}

.column-small {
  width: 240px;
}

.box {
  border: 1px solid green;
}
