header {
  /* CSS Properties */
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;

  /* Flexbox Properties */
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 10;
  border-bottom: 1px solid black;
}

header .logo-container {
  /* CSS Properties */
  color: MediumAquamarine;

  /* Flexbox Properties */
  display: flex;
  width: 250px;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

header .logo-item {
  margin: 0px 10px;
  white-space: nowrap; /* Prevent word wrap when browser is resized (made smaller). */
}

nav {
  /* CSS Properties */

  /* Flexbox Properties */
  display: flex;
  width: inherit;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
}

nav a {
  /* CSS Properties */
  color: black;

  /* Flexbox Properties */
  margin: 0px 10px;
}

main {
  /* CSS Properties */

  /* Flexbox Properties */
  display: flex;
  position: relative;
  top: 80px;
  width: 100%;
  border: 1px solid lightblue;
  justify-content: space-between;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

h2.news-bites_heading {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.news-bites_items {
  display: flex;
  flex-direction: column;
}

.news-bites_items div {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  min-height: 40px;
  padding-left: 15px;

  display: flex;
  align-items: center;
}

.column-large {
  width: 630px;
  margin-top: 30px;
}

.column-medium {
  width: 300px;
  margin-top: 30px;
}

.column-small {
  width: 240px;
  margin-top: 30px;
  margin-right: 30px;

  display: flex;
  flex-direction: column;
}

.box_1 {
  display: flex;
  flex-wrap: wrap;
}

.box_2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box {
  width: 300px;
  min-height: 300px;
}

.story-ALL {
  /* This contains styling applicable to all stories, to prevent repetition of CSS code */
  font-family: Georgia;
  font-weight: bold;
  color: white;

  /* Layout & Flexbox */
  margin: 0px;
  height: 300px;
  background-color: lightgray; /* To be used if the image is unavailable */
}

.story-main {
  background-image: url("../images/img-story-main.png");
}

.story-earth {
  background-image: url("../images/img-story-earth.png");
}

.story-camera {
  background-image: url("../images/img-story-camera.png");
}

.story-cats {
  background-image: url("../images/img-story-cats.png");
}

.font-40px {
  font-size: 40px;
}

.font-30px-centered {
  font-size: 30px;
  text-align: center;
}
